---
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import MainSection from "../components/MainSection.astro";
import TheArticle from "../components/TheArticle.astro";
import BigButton from "../components/BigButton.astro";

const customArticles = [
    { id: 1, title: '', body: 'Ищете мощный игровой компьютер или рабочую станцию под задачи любой сложности? У нас вы найдёте проверенные комплектующие от ведущих производителей: видеокарты, процессоры, материнские платы, оперативную память и многое другое.' },
    { id: 2, title: '', body: 'Соберите ПК под себя или выберите готовую кастомную сборку — мы предлагаем решения под любые задачи и бюджет. Каждая сборка проходит тестирование и полностью готова к работе сразу после получения. Наши специалисты помогут подобрать конфигурацию, оптимальную по соотношению цены и производительности, а быстрая доставка и гарантия качества делают покупку максимально удобной.' },
];
---

<Layout>
    <section>
        <MainSection
            background="src/assets/images/MainSectionBannerBg.png"
            purpleBoxText="для игр, работы или учебы"
            title="Конфигуратор пк"
            subtitle="Выбирай любые комплектующие из каталога — мы соберём мощную машину под твои задачи"
            rightTopText="ПРЕИМУЩЕСТВА: // Подбираем и собираем системы, ориентируясь на качество, стабильность и точный расчёт. Без компромиссов в эстетике, мощности и сервисе."
            text1="Высококачественные комплектующие от проверенных производителей"
            text2="Индивидуальная сборка ПК под потребности клиента"
            text3="Гарантия на комплектующие и собранные ПК"
        />
    </section>

    <section>
        <TheArticle
        mainTitle="Актуальные новости и важные события"
        tagText="о компании"
        descriptionText=""
        articles={customArticles}
        showFeatures={true} />
        <BigButton buttonText="подробнее о нас" hrefPage="#" classes="btn-center"/>
    </section>

    <section>
        <div class="products-container">
            <ProductCard
                cardId={"001"}
                productImage="src/assets/images/Videocard.png"
                price="140 000₽"
                isHit={true}
            >
                <h3 slot="cardTitle">
                    видеокарта <span
                        style="color: oklch(from var(--purple-text)l c h);"
                        >//</span
                    > 16ГБ
                </h3>
                <p slot="cardDescription">
                    msi (g5080-16gtc) geforce rtx 5080 16g gaming trio oc
                </p>
            </ProductCard>
            <ProductCard
                cardId={"002"}
                productImage="src/assets/images/Operative.png"
                price="140 000₽"
                isHit={true}
            >
                <h3 slot="cardTitle">
                    оперативная память <span
                        style="color: oklch(from var(--purple-text)l c h);"
                        >//</span
                    > 32ГБ
                </h3>
                <p slot="cardDescription">
                    TEAMGROUP T-Force Delta RGB [DDR5, 6000MHz, 2x16GB]
                </p>
            </ProductCard>
            <ProductCard
                cardId={"003"}
                productImage="src/assets/images/Videocard.png"
                price="140 000₽"
                isHit={true}
            >
                <h3 slot="cardTitle">
                    видеокарта <span
                        style="color: oklch(from var(--purple-text)l c h);"
                        >//</span
                    > 16ГБ
                </h3>
                <p slot="cardDescription">
                    msi (g5080-16gtc) geforce rtx 5080 16g gaming trio oc
                </p>
            </ProductCard>
            <ProductCard
                cardId={"004"}
                productImage="src/assets/images/Operative.png"
                price="140 000₽"
                isHit={true}
            >
                <h3 slot="cardTitle">
                    оперативная память <span
                        style="color: oklch(from var(--purple-text)l c h);"
                        >//</span
                    > 32ГБ
                </h3>
                <p slot="cardDescription">
                    TEAMGROUP T-Force Delta RGB [DDR5, 6000MHz, 2x16GB]
                </p>
            </ProductCard>
        </div>
    </section>
</Layout>

<style>
    .btn-center{
        background-position: center;
        justify-content: center;
        margin-top: 3.75rem;
    }
</style>
