---
import { Image } from "astro:assets";
import CrossIcon from "../assets/icons/product-card/cross.svg";
import PurpleTag from "./PurpleTag.astro";
import TwoSlashesIcon from "../assets/icons/product-card/line.svg";
import OrderButton from "./OrderButton.astro";

interface Props {
  id: string;
  photoSrc: ImageMetadata;
  photoAlt: string;
  productTitle: string;
  productSpec: string;
  price: string;
  isBadgeVisible?: boolean;
}

const {
  id,
  photoSrc,
  photoAlt,
  productTitle,
  productSpec,
  price,
  isBadgeVisible = true
} = Astro.props;
---

<div class="product-card-wrapper">
  <p class="product-card-number">
    <CrossIcon />
    <span>{id}</span>
  </p>
  <div class="product-card">
    <div class="product-wrapper">
      {
        () => {
          if (isBadgeVisible) {
            return <PurpleTag text="Хит" iconSVG="src/assets/icons/Hit.svg"/>;
          }
        }
      }
      <div class="product">
        <Image src={photoSrc} alt={photoAlt} class="product-photo" />
        <div class="product-info">
          <p class="product-title">
            <span>{productTitle}</span>
            <TwoSlashesIcon />
            <span>{productSpec}</span>
          </p>
          <p class="product-spec">
            <slot />
          </p>
        </div>
      </div>
    </div>
    <div class="product-price">
      <span>{`${price}₽`}</span>
      <OrderButton />
    </div>
  </div>
</div>
<style>
  .product-card-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 0.135fr) 1fr;

    background-image: url("../assets/images/products/product-card/card-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    font-family: "JetBrainsMono", sans-serif;

    min-width: 300px;
    max-width: 300px;
  }

  .product-card-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    padding: 2.25rem 0;
    font-size: 0.625rem;

    color: oklch(from #545b5f l c h);
    justify-self: center;
  }

  .product-card-number svg {
    fill: oklch(from #d8ebee l c h);

    width: 0.75rem;
    height: 0.75rem;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    padding: 2.625rem 1rem 0.5rem;
  }

  .product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .product-photo {
    align-self: center;

    width: 80%;
    height: auto;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-title {
    display: flex;
    align-items: center;
    gap: 0.375rem;

    font-size: 0.625rem;
    text-transform: uppercase;
  }

  .product-title svg {
    fill: oklch(from #9d4edd l c h);

    width: 0.75rem;
    height: auto;
  }

  .product-spec {
    font-family: "EuropeExt";
    font-size: 1rem;
    text-transform: uppercase;
  }

  .product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-price > span {
    font-size: 1.125rem;
    font-weight: 200;
  }

  @media (width >= 768px) {
    .product-card-wrapper {
      max-width: 400px;
    }

    .product-card-number {
      font-size: 0.75rem;
    }

    .product-spec,
    .product-price > span {
      font-size: 1.25rem;
    }

    .product-title {
      font-size: 0.875rem;
    }
  }
</style>
